* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f5f7fb;
  color: #222;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 30px;
  background: #6c63ff; /* modern purple */
  color: white;
  position: sticky;
  top: 0;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  position: relative;
  transition: 0.3s;
}

/* UNDERLINE HOVER EFFECT */
.nav-links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: white;
  left: 0;
  bottom: -4px;
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

/* HERO */
.hero {
  text-align: center;
  padding: 90px 20px;
  background: #e9ecff;
}

.hero h1 {
  font-size: 34px;
}

.hero h3 {
  margin: 10px 0;
  color: #444;
}

.hero p {
  color: #555;
}

/* BUTTON */
button {
  margin-top: 20px;
  padding: 10px 22px;
  border: none;
  background: darkblue; 
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background:darkblue ;
}

/* SECTIONS */
.section {
  padding: 70px 20px;
  text-align: center;
}

/* ABOUT */
#about p {
  max-width: 600px;
  margin: auto;
  color: #555;
}

/* SKILLS */
.skills ul {
  list-style: none;
}

.skills li {
  margin: 10px 0;
  font-weight: 500;
}

/* CONTACT */
.contact {
  background: #eef1ff;
}

/* MOBILE RESPONSIVE */
@media (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    width: 100%;
    justify-content: space-around;
    margin-top: 10px;
  }
}
